@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-header-cell-resize:hover {
  background-color: #0052cc;
  color: #0052cc;
}
.ag-ltr div.ag-cell {
  border-right-color: #ececed;
}

.setting-column {
  max-height: calc(100vh - 130px);
  min-height: calc(100vh - 130px);
}
.dragable-icon {
  width: 16px;
  height: 16px;
  cursor: grab;
}

.dragable-icon:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(https://crm.misacdn.net/appnew/assets/Images/icon/icon_collection.svg) no-repeat -384px -16px;
}

.dragable-icon-hover {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dragable-icon-hover:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(https://crm.misacdn.net/appnew/assets/Images/icon/icon_collection.svg) no-repeat -368px -16px;
}
.icon-close16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-close16:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(https://crm.misacdn.net/appnew/assets/Images/icon/icon_collection.svg) no-repeat -256px -96px;
}

.icon-close16-red {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-close16-red:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(https://crm.misacdn.net/appnew/assets/Images/icon/icon_collection.svg) no-repeat -96px -16px;
}

@layer base {
  :root {
    --font-sans: "Inter", "Inter_Fallback";
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  div.ag-theme-balham,
  div.ag-theme-balham-dark {
    --ag-font-size: 13px;
    /* --ag-font-family: "Inter", "sans-serif"; */
    --ag-font-family: "Inter", "Inter_Fallback";
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-primary-main;
    @apply dark:focus-visible:outline-primary-main-dark;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
